<mat-sidenav-container class="example-container" >

  <mat-sidenav opened mode="side" class="sideStar">Start content</mat-sidenav>

  <mat-sidenav opened mode="side" position="end" class="sideEnd">
    <div *ngFor="let chapter of chapters; index as i">
      <div [ngClass]="'step'">{{chapter.title}}</div>
      <app-progress-spinner></app-progress-spinner>
      <div *ngIf="i === cont?chapter:''">

      </div>
    </div>
  </mat-sidenav>
<main>
  <app-principal></app-principal>
</main>


</mat-sidenav-container>

