::ng-deep .mat-drawer-inner-container  {
  overflow: auto;
  z-index: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    background: transparent;
    width: 0;
    height: 0;
  }
}
::ng-deep mat-sidenav-content.mat-drawer-content.mat-sidenav-content.ng-star-inserted{
  overflow: auto;
  z-index: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    background: transparent;
    width: 0;
    height: 0;
  }
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1F2129;
}
.sideStar{

  background-color: #2A2B36;
}
.icon-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sideEnd{
  background-color: #2A2B36;
  color: white;
  width: 25%;
  padding: 30px;
}
.large-main{
  margin: 1% 5%;
  overflow-y: none;
}

