::ng-deep .mat-drawer-inner-container  {
  overflow: auto;
  z-index: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    background: transparent;
    width: 0;
    height: 0;
  }
}

::ng-deep .mat-drawer-inner-container.ng-tns-c67-0{
  background: #191A21;
}
::ng-deep .mat-drawer-inner-container.ng-tns-c17-0 {
  background:#191A21;
}
::ng-deep mat-sidenav-content.mat-drawer-content.mat-sidenav-content.ng-star-inserted{
  overflow: auto;
  z-index: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    background: transparent;
    width: 0;
    height: 0;
  }
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1F2129;
}
.sideStar{

  background-color: #2A2B36;
}
.icon-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sideEnd{
  background-color: #2A2B36;
  color: white;
  width: 25%;
  padding: 30px;
}
.large-main{
  margin: 1% 10% 1% 5%;
  overflow-y: none;
}
.small-main{
  margin: 1% 10%;
  overflow-y: none;
}
#logo{
  margin:15px 15px 35px 15px
}
.icon-div{
  width: 100%;
  border-right: 3px solid #757AFF;
}
