*{
  font-size: 14px;
}
.step{
  color: #42C9B7
}
.progress-circle{
  margin-top: 20px;
  margin-right: 10px;
  position: relative;
  top: 20px;
}
.chapter-title-container{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
}
hr{
background-color: white;
  border-color: white;
  border: 90px;
}
::ng-deep .mat-divider{
  border-color: #353542;
  border-style: solid;
}
.respuesta{
  margin-left: 30px;
  border-left: 3px solid #353542;
  padding-left: 20px;
}
.completed{
  text-decoration:line-through;
}

.block{
  color: white;
}
.cursor{
  cursor: pointer;
}
audio::-webkit-media-controls-panel
{
  background-color: #353640;
  border: none;
}

