*{
  color: white;
  font-size: 14px;
}
.photo-instructor{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
mat-card{
  background-color: #31333C;
}
.grid-about-instruction{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto);
}
.presentation{
  grid-column: 1/ 4;
}
.about{
  grid-column: 4/6;
}
ul{
  list-style-type: none;
}
li{
  display: inline;
  margin: 5px;
}
.inactive{
  color: #818286;
}
.instructor-name{
  color: #818286;
}
.video-chapter{
  width: 100%;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color:#ffff;
  }
::ng-deep  .mat-tab-label-content {
    color: white;
}


::ng-deep .mat-button-toggle.mat-button-toggle-checked.mat-button-toggle-appearance-standard{
  background-color: #757AFF;
}

.mat-button-toggle-group{
  border: none;
  border-radius: 30%;
  padding: 0;
}

.controlButton{
  background-color: #31333C;
  border: none;
  padding: 15% 15% 0% 15%;
}
.controlButton.back{
  border-radius: 45% 0 0 45%;
  height: 100%;
}
.controlButton.next{
  border-radius: 0 45% 45% 0;
  height: 100%;
}
.controlButton:active{
  background-color: #757AFF;
}
.controlButton:focus{
  background-color: #757AFF;
  border: none;
}

.title-curse{
  grid-column: 1/5;
  grid-row: 1;
  font-size: 25px;
  padding: 30px 30px 0px 0px;
  margin: 0;
  align-self: baseline;
  line-height: 1.5;
}
.cont-chapter{
  grid-column: 5/7;
  grid-row: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  padding:  30px 5px 30px 30px;
  margin: 0;
  align-self: baseline;
  color: #818286;
}
.buttons-control{
  display: flex;
  padding: 30px;
  grid-column: 7/9;
  grid-row: 1;
  margin: 0;
  align-self: center;
}
.icon-arrow{
  position: relative;
  bottom: 3px;
}
.grid-title{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
}
@media (max-width: 644px) {
  .controlButton.back{
    height: 50%;
  }
  .controlButton.next{
    height: 50%;
  }
  .icon-arrow{
    bottom: 0px;
  }
}
//XSmall
@media (max-width: 599.98px) {
  .icon-arrow{
    top: 5px;
    bottom: 0px;
  }
  .cont-chapter{
    line-height: 1.5;
    font-size: 10.5px;
    font-weight: lighter;
    padding: 30px 0px 30px 0px;
  }
  .buttons-control{
    padding: 10px 10px 30px 10px;
  }
  li{
    font-size: 10.5px;
  }
  .title-curse{
    font-size: 15px;
  }
  .instructor-name{
    font-size: 10.5px;
  }
}
