<nav [id]="isLarge?'nav-main-large':'nav-main-small'">
  <li *ngIf="!isLarge"> <button id="button_menu" (click)="onClickButtonMenu($event)"><mat-icon>menu</mat-icon> </button></li>
  <li class="inactive">Courses / </li>
  <li class="inactive"> Design /</li>
  <li> Masterclass: Designing for web</li>
</nav>

<section class="grid-title">
    <h1 class="title-curse" >

          Fundamentals of Web Design
          <section class="instructor-name">
            Natalie Storm, Design Department
          </section>
    </h1>
    <br>
    <p class="cont-chapter">CHAPTER {{cont+1}} / 5 </p>

    <div class="buttons-control">
      <button class="controlButton back" value="Back" (click)="onBackChapter()">
        <mat-icon class="icon-arrow" aria-hidden="false" aria-label="arror back icon" fontIcon="arrow_back_ios" [color]="'accent'"></mat-icon>
      </button>
      <button
        class="controlButton next"
        value="Next"
        (click)="onNextChapter()"
        >
        <mat-icon
        class="icon-arrow"
        aria-hidden="false" aria-label="arror forward icon" fontIcon="arrow_forward_ios" [color]="'accent'"></mat-icon>
      </button>
    </div>
</section>


<video
  [src]="chapters[cont].link"
  controls
  class="video-chapter"
  controls
  #videoChap
  (timeupdate)="contando(videoChap.currentTime)"
  (ended)="isVideoEnded()"
  >
  Tu navegador no admite el elemento <code>video</code>.
</video>

<cdk-accordion class="example-accordion" *ngIf="sizeScreen!== 'Large'&&sizeScreen!='XLarge'">
  <cdk-accordion-item
    #accordionItem="cdkAccordionItem"
    class="example-accordion-item"
    role="button"
    tabindex="0">
    <mat-card>
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
       <p>{{ chapters[cont].title}}</p>

        <mat-icon>
          expand_more
        </mat-icon>
      </div>
    </mat-card>

    <div
      class="example-accordion-item-body"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + cont"
      [attr.aria-labelledby]="'accordion-header-' + cont">
      <app-list-chapter></app-list-chapter>
    </div>
  </cdk-accordion-item>
</cdk-accordion>




<mat-tab-group mat-align-tabs="start" [color]="'warn'">
  <mat-tab label="Notes">

    <section class="grid-about-instruction">
      <article class="presentation">
        <p>Hi guys, Natalie here with a very unconventional method that will get you hooked within minutes into this awesome course. As you might be already knowing, web development is the next biggest thing that is going to revolutionize this world.</p>

        <p>With the possibilities sitting wide open, you might be curious how you can get into the bandwagon a little earlier and be a legit expert. This chapter covers the fundamentals of web design.</p>
      </article>
      <section class="about">
        <mat-card>
          <h3 class="m-0">About Instructor</h3>
          <div class="d-flex">
            <img src="../../assets/img/user-photo-instructor.jpg" alt="user photo instructor" class="photo-instructor">
            <p>
              Natalie Storm <br>
              Design Department
            </p>
          </div>

          <div>
            Natalie is a freelance designer who occassionally dabblles along with graphic design, motion and code. She loves beaches...
          </div>
        </mat-card>
      </section>
    </section>
  </mat-tab>
  <mat-tab label="Discussion" *ngIf="sizeScreen!='XLarge'&&sizeScreen!='Large'">
    <app-discussion></app-discussion>
  </mat-tab>
  <mat-tab label="Resource"></mat-tab>
  <mat-tab label="Quiz(3)"></mat-tab>

</mat-tab-group>




